<header>
  <nav class="nav">
    <a mat-button [routerLink]="['/shelters']">
      <img id="logo" [src]="mainLogoSrc">
      <span id="title" [innerText]="mainTitleText"></span>
    </a>
    <a mat-button [routerLink]="['/needs']">Needs</a>
    <a mat-button [routerLink]="['/search']">Search</a>
    <a mat-button [routerLink]="['/users']">Users</a>
    <a mat-button [routerLink]="['/shelters']">Shelters</a>
    <a mat-button [routerLink]="['/login']">Login</a>
    <a mat-button [routerLink]="['/registraction-shelter']">Registraction-shelter</a>
    <a mat-button [routerLink]="['/registraction-user']">Registraction-user</a>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer></footer>
