/*
* see https://www.fonts-online.ru/font/Kindly-Jasmine for title font
* license: free for personal project, non-profit and charity use
*/
header {
  background-color: aliceblue;
  /*height: 50px;*/

  .nav {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    /*grid-gap: 10px;*/


    a {
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 50px;
      padding: 0;
      white-space: normal;
      line-height: 1;

      img#logo {
        height: 40px;
        /*width: 100%;*/

        span#title {
          margin-left: 5px;
        }
      }
    }
  }
}
main {
  padding: 20px;
}
